@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    src: url("../font/Lato-Regular.woff") format("woff");
}

@font-face {
    font-family: "Lato-Bold";
    font-style: bold;
    font-weight: bold;
    src: url("../font/Lato-Bold.woff") format("woff");
}

body {
	font-family: "Lato", "Helvetica Neue", "Helvetica", "Microsoft Yahei", "Arial";
	font-size: 13px;
	margin: 0;
	overflow: hidden;
}

hr {
	border: 0;
	border-top: 1px solid #ccc;
}

button {
	position: relative;
}

textarea {
	tab-size: 4;
	white-space: pre;
	word-wrap: normal;
}

	textarea.success {
		border-color: #8b8 !important;
	}

	textarea.fail {
		border-color: #f00 !important;
		background-color: rgba(255,0,0,0.05);
	}

textarea, input { outline: none; } /* osx */

.Panel {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;

	/* No support for these yet */
	-o-user-select: none;
    user-select: none;
    
    user-select: none;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.22);
}

/* CodeMirror */

.CodeMirror {

	position: absolute !important;
	top: 37px;
	width: 100% !important;
	height: calc(100% - 37px) !important;

}

	.CodeMirror .errorLine {

		background: rgba(255,0,0,0.25);

	}

	.CodeMirror .esprima-error {

		color: #f00;
		text-align: right;
		padding: 0 20px;

	}

/* outliner */

#outliner .option {

	border: 1px solid transparent;
}

#outliner .option.drag {

	border: 1px dashed #999;

}

#outliner .option.dragTop {

	border-top: 1px dashed #999;

}

#outliner .option.dragBottom {

	border-bottom: 1px dashed #999;

}

#outliner .type {
	position:relative;
	top:-2px;
	padding: 0 2px;
	color: #ddd;
}

#outliner .type:after {
	content: '■';
}

#outliner .Scene {
	color: #ccccff;
}

#outliner .Object3D {
	color: #aaaaee;
}

#outliner .Mesh {
	color: #8888ee;
}

#outliner .Line {
	color: #88ee88;
}

#outliner .LineSegments {
	color: #88ee88;
}

#outliner .Points {
	color: #ee8888;
}

/* */

#outliner .PointLight {
	color: #dddd00;
}

/* */

#outliner .Geometry {
	color: #88ff88;
}

#outliner .BoxGeometry {
	color: #bbeebb;
}

#outliner .TorusGeometry {
	color: #aaeeaa;
}

/* */

#outliner .Material {
	color: #ff8888;
}

#outliner .MeshPhongMaterial {
	color: #ffaa88;
}

/* */

#outliner .Script:after {
	content: '{...}' /* ❮/❯ */
}

.loader {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: #000;
    text-align: center;
/* loader页面消失采用渐隐的方式*/
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}
/* 使用base64编码嵌入加载的logo */
.loader-content {
	background: url("../img/loader/poster-01.jpg") no-repeat 50% 0%;;
	display: block;
    position: relative;
    
}
.fadeout {
    opacity: 0;
    filter: alpha(opacity=0);
}
/* logo出现动画 */
/*
@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}100%{opacity:1;-webkit-transform:none;transform:none}}
@keyframes fadeInDown{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);
*/

progress {
	background-color: #E6E6E6;
	color: #00BFFF;
	border: 0;
	height: 10px;
	width: 60px;
	border-radius: 5px;
    margin-left: 2px;
    margin-right: 2px;
}

progress::-webkit-progress-bar {
	border: 0;
	height: 10px;
	width: 60px;
	border-radius: 5px;
    background: #E6E6E6;
    /*margin-left: 2px;
    margin-right: 2px; 有margin会错层*/
}

progress::-webkit-progress-value {
	border-radius: 5px;
    background: #B5B5B5;
}

progress::-webkit-progress-inner-element {
	border-radius: 5px;
    background: #B5B5B5;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 10000
}

#status,
.preloader {
    display: block;
    position: absolute;
    margin:auto;
/*    top: 50%;
    left: 50%;*/
    position: absolute
}

#status {
    width: 100%;
    height: 100%;
/*    background-repeat: no-repeat;
    background-position: center;
    margin: -50px 0 0 -50px*/
}

.preloader {
    height: 100%;
    width: 100%;
/*    margin-top: -20px;
    margin-left: -20px*/
}

.preloader:before {
    content: "";
    display: block;
    position: absolute;
    left: -1px;
    top: -1px;
    height: 100%;
    width: 100%;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
    border: 2px solid #4C9AFF;
    border-top: 2px solid transparent;
    border-radius: 100%
}

.preloader>.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 25px;
    width: 10.6px;
    margin-top: -12.5px;
    margin-left: -5.3px;
    -webkit-animation: wink 1s ease-in-out infinite alternate;
    animation: wink 1s ease-in-out infinite alternate
}
@media only screen and (min-width:1200px) {
    .preloader {
        height: 100%;
        width: 100%;
/*        margin-top: -30px;
        margin-left: -30px*/
    }
    .preloader>.icon {
        height: 50px;
        width: 21.2px;
        margin-top: -25px;
        margin-left: -10.6px
    }
}
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}
@keyframes rotation {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@-webkit-keyframes wink {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes wink {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.ripple-effect {
   position: relative;
   overflow: hidden;
}

.ripple {
   position: absolute;
   width: 10px;
   height: 10px;
   border-radius: 5px;
   background-color: #fff;
   opacity: 0;
   transform: translate(-50%, -50%);
}

.ripple.animate {
   animation: ripple 2s;
}
   
@keyframes ripple {
	from {
		opacity: 0.25;
	}
	to {
    	transform: scale(50);
		opacity: 0.0;
	}
}

.zs-annotation {
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
    /*margin-left: 15px;
    margin-top: 15px;
    padding: 1em;*/
    width: 115px;
    height: 110px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    border-radius: .5em;
    font-size: 12px;
    line-height: 1.2;
    transition: opacity .5s;
    transform: translate(0%, 30%);
    display: inline-block;

}

.zs-annotation .text-area {
    width: 100px;
    height: 50px;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
}

.zs-annotation .title {
    margin: 0;
    padding: 0;
    margin-left: 5px;
    margin-top: 3px;
}

.zs-annotation .confirm {
    position: absolute;
    padding: 0;
    margin-left: 5px;
    margin-right: 0px;
    margin-top: 3px;
    width: 50px;
    height: 24px;
    left: 0;
}

.zs-annotation .cancel {
    position: absolute;
    padding: 0;
    margin-left: 5px;
    margin-right: 0px;
    margin-top: 3px;
    width: 50px;
    height: 24px;
    left: 55px;
}

.zs-annotation-box {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 120px;
    /*height: calc(5%);*/
    opacity: 0.8;
    z-index: 1;
    display: inline-block;
    background: #00000000;
}

.zs-annotation-box .inner-box {
    padding: 0;
    margin: 0;
}

.zs-annotation-box .title-bar {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
    width: calc(100%);
    border-bottom: 1px #000000 solid;
}

.zs-annotation-box .text-box {
    padding: 0;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: calc(100% - 6px);
    height: calc(100% - 4px);
    border: 0;
    word-wrap: break-word;
    overflow: hidden;
}


.zs-annotation-box :focus{
  outline:none;
}

.zs-annotation-box span {
  float:right;
}


