button {
	color: #555;
	background-color: #ddd;
	border: 0px;
	padding: 5px 8px;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
}

	button:hover {
		background-color: #fff;
	}

	button.selected {
		background-color: #fff;
	}

input, textarea {
	border: 1px solid transparent;
	color: #444;
}

input.Number {
	color: #08f!important;
	font-size: 12px;
	border: 0px;
	padding: 2px;
	cursor: col-resize;
}

select {
	color: #666;
	background-color: #ddd;
	border: 0px;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
}

	select:hover {
		background-color: #fff;
	}

/* UI */

#viewport {
	position: absolute;
	top: 32px;
	left: 0;
	right: 0;
	bottom: 32px;
}

	#viewport #info {
		text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
		pointer-events: none;
	}

#script {
	position: absolute;
	top: 32px;
	left: 0;
	right: 300px;
	bottom: 32px;
	opacity: 0.9;
}

#player {
	position: absolute;
	top: 32px;
	left: 0;
	right: 300px;
	bottom: 32px;
}

#menubar {
	position: absolute;
	width: 100%;
	height: 32px;
	background: #eee;
	padding: 0;
	margin: 0;
	right: 0;
	top: 0;
}

	#menubar .menu {
		float: left;
		cursor: pointer;
		padding-right: 8px;
	}

	#menubar .menu.right {
		float: right;
		cursor: auto;
		padding-right: 0;
		text-align: right;
	}

		#menubar .menu .title {
			display: inline-block;
			color: #888;
			margin: 0;
			padding: 8px;
		}

		#menubar .menu .options {
			position: fixed;
			display: none;
			padding: 5px 0;
			background: #eee;
			width: 150px;
			max-height: calc(100% - 80px);
			overflow: auto;
		}

		#menubar .menu:hover .options {
			display: block;
		}

			#menubar .menu .options hr {
				border-color: #ddd;
			}

			#menubar .menu .options .option {
				color: #666;
				background-color: transparent;
				padding: 5px 10px;
				margin: 0 !important;
			}

				#menubar .menu .options .option:hover {
					color: #fff;
					background-color: #08f;
				}

				#menubar .menu .options .option:active {
					color: #666;
					background: transparent;
				}

		#menubar .menu .options .inactive {
			color: #bbb;
			background-color: transparent;
			padding: 5px 10px;
			margin: 0 !important;
		}

#sidebar {
	position: absolute;
	right: 0;
	top: 32px;
	bottom: 0;
	width: 300px;
	background: #eee;
	overflow: auto;
}

	#sidebar * {
		vertical-align: middle;
	}

	#sidebar .Panel {
		color: #888;
		padding: 10px;
		border-top: 1px solid #ccc;
	}

	#sidebar .Panel.collapsed {
		margin-bottom: 0;
	}

	#sidebar .Row {
		min-height: 20px;
		margin-bottom: 10px;
	}

#tabs {
	background-color: #ddd;
	border-top: 1px solid #ccc;
}

	#tabs span {
		color: #aaa;
		border-right: 1px solid #ccc;
		padding: 10px;
	}

	#tabs span.selected {
		color: #888;
		background-color: #eee;
	}

#toolbar {
	position: absolute;
	left: 0;
	/*right: 300px;*/
	right: 0;
	bottom: 0;
	height: 32px;
	background: #eee;
	color: #333;
}

	#toolbar * {
		vertical-align: middle;
	}

	#toolbar .Panel {
		padding: 4px;
		color: #888;
	}

	#toolbar button {
		margin-right: 6px;
	}

.Outliner {
	color: #444;
	background-color: #fff;
	padding: 0;
	width: 100%;
	height: 140px;
	font-size: 12px;
	cursor: default;
	overflow: auto;
	outline: none !important;
}

	.Outliner .option {
		padding: 4px;
		color: #666;
		white-space: nowrap;
	}

	.Outliner .option:hover {
		background-color: rgba(0,0,0,0.02);
	}

	.Outliner .option.active {
		background-color: rgba(0,0,0,0.04);
	}

#sidebar-left {
	position: absolute;
	left: 0;
	top: 20%;
	bottom: 0;
	width: 40px;
	height: 480px;
	background: #4FC3F7;
	overflow: auto;
	/*
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	word-break: break-all;
	transform: translateY(-50%);
	*/
}
	

	#sidebar-left * {
		vertical-align: middle;
	}

	#sidebar-left .Panel {
		color: #000000;
		padding: 0px;
		/*border-top: 1px solid #ccc;*/
	}

	#sidebar-left .Panel.collapsed {
		margin-bottom: 0;
	}

	#sidebar-left .Row {
		min-height: 20px;
		margin-bottom: 10px;
	}

	#sidebar-left button {
		color: #FFFFFF;
		background: #4FC3F7;
		border: 0;
		padding: 0;
		margin: 0;
		width: 40px;
		/* 为6个按钮临时减少高度 */
		/*height: 110px;*/
		height: 80px;

		line-height: 20px;
		
		text-transform: uppercase;
		cursor: pointer;
		outline: none;
		font-size: 16px;
		
		/*
		text-align: center;
		vertical-align: middle;
		display: table-cell;
		*/
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.50);
		transition: 0.2s;
	}
	
	#sidebar-left button:hover {
		background-color: #FFFFFF;
		color: #4FC3F7;
		box-shadow: 0px 4px 5px rgba(0, 0, 0, 0, 0.3);
	}
	
	#sidebar-left button.selected {
		background-color: #FFFFFF;
		color: #4FC3F7;
	}

#sidebar-item-box {
	position: absolute;
	right: 310px;
	top: 6%;
	bottom: 0;
	width: 200px;
	height: 143px;

	background: #FCFCFC;
	color: #000000;
	border: 1px #BDBDBD solid;
	overflow: auto;
}

#sidebar-item-box * {
	vertical-align: middle;
}

#sidebar-item-box .title, #sidebar-scene-box .title {
	color: #585858;
	background: #FFFFFF;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 20px;
	text-align: center;
	border-bottom: 1px #BDBDBD solid;
}

#sidebar-item-box .detail, #sidebar-scene-box .detail {
	color: #BCBCBC;
	background: #000000;
	bottom: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 20px;
	text-align: center;
	cursor: pointer;
}


#sidebar-item-box .Panel {
	color: #000000;
	background: #FFFFFF;
	padding: 0px;
	/*border-top: 1px solid #ccc;*/
}

#sidebar-item-box .Panel.collapsed {
	margin-bottom: 0;
}

#sidebar-item-box .content {
	height: 100px;
	font-size: 14px;
}

#sidebar-item-box .Row {
	min-height: 20px;
	margin-bottom: 0;
}

#sidebar-item-box .td-header {
	border: 0;
	margin-top: 5px;
	margin-left: 10px;
	width: 40px;
	margin-right: 5px;
	line-height: 20px;
	
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}

#sidebar-item-box .td-content {
	border: 0;
	padding: 0px;
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 0px;
	width: 140px;
	line-height: 20px;
	
	font-size: 14px;
	font-weight: normal;
}



#sidebar-scene-box {
	position: absolute;
	right: 310px;
	top: 28%;
	bottom: 50px;
	width: 200px;
	height: 450px;
	background: #FCFCFC;
	color: #000000;
	overflow: auto;
	border: 1px #BDBDBD solid;
}

#sidebar-scene-box * {
	vertical-align: middle;
}

#sidebar-scene-box .Panel {
	color: #000000;
	padding: 0px;
	/*border-top: 1px solid #ccc;*/
}

#sidebar-scene-box .Panel.collapsed {
	margin-bottom: 0;
}

#sidebar-scene-box .Row {
	min-height: 20px;
	margin-bottom: 10px;
}

#sidebar-scene-box .slider {
	width: 180px;
	margin: 10px;
	padding: 0;
	height: 20px; 
}

#sidebar-scene-box input[type=range] {
	overflow: hidden !important;
	-webkit-appearance: none;
    width: 180px;
	border-radius: 0px; /*这个属性设置使填充进度条时的图形为圆角*/
	background-color: #BCBCBC;
}

#sidebar-scene-box input[type=range]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	height: 18px;
    border-radius: 0px; /*将轨道设为圆角的*/
	/*box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112; /*轨道内置阴影效果*/
	color: #4FC3F7;
	
}

#sidebar-scene-box input[type=range]:focus {
    outline: none;
}

#sidebar-scene-box input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    margin-top: -5px; /*使滑块超出轨道部分的偏移量相等*/
    background: #ffffff; 
    border-radius: 0; /*外观设置为圆形*/
    border: solid 0.125em rgba(205, 224, 230, 0.5); /*设置边框*/
	/*box-shadow: 0 .125em .125em #3b4547; /*添加底部阴影*/ 
	
	cursor: ew-resize;
    box-shadow: -80px 0 0 80px #4FC3F7;
}


#banner-top {
	position: absolute;
	left: calc(50% - 150px);
  	top: 5%;
  	bottom: 0;
  	width: auto;
  	height: 56px;
  	overflow: auto;
  	background-color: rgba(0, 0, 0, 0.0);
  	transform: translateX(-50%);
}
	

	#banner-top * {
		vertical-align: middle;
	}

	
	#banner-top button {

		color: #FFFFFF;
		background: #4FC3F7;
		/*border: 1px #000000 solid;*/
		padding: 0;
		margin: 2px;
		width: 7vw;
		/* 为6个按钮临时减少高度 */
		/*height: 110px;*/
		height: 2.5vw;

		text-transform: uppercase;
		cursor: pointer;
		outline: none;
		font-size: 16px;
		text-shadow: 0 0 3px #ffffff55; 
		transition: 0.2s;
	}
	
	#banner-top button:hover {
		background-color: #FFFFFF;
		color: #4FC3F7;
		box-shadow: 0px 4px 5px rgba(0, 0, 0, 0, 0.3);
	}
	
	#banner-top button.selected {
		background-color: #FFFFFF;
		color: #4FC3F7;
	}


