<!doctype html>
<html lang="zh-CN">

<head>
    <title>ZS-Fab 登录</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="static/img/icon/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta name="theme-color" content="#ffffff">
    <link type="text/css" rel="stylesheet" href="static/css/meshify.css" />
    <link type="text/css" rel="stylesheet" href="static/css/bootstrap-flex.css" />
    <link href="static/font/font-awesome/fontawesome-all.css" rel="stylesheet">
    <script type="text/javascript" src="static/js/jquery-3.2.1.js" ></script>
    <script type="text/javascript" src="static/js/bootstrap.js"></script>
</head>

<body>
<!--header start-->
<div class="container-fluid px-0" >
    <header class="head-section row" style="height:100px; width:100%;">
        <nav class="navbar navbar-default" style="height:100px; width:100%;">
            <div class="clearfix float-md-left">
                <a class="navbar-brand ml-1" href="http://www.zsfab.com/products.html">
                    <img src="static/img/logo/zs-logo.png" class="hidden-sm-down vertical-center" style="height: 80px;" alt="ZS-Fab" />
                </a>
            </div>
            
            <div class="collapse navbar-toggleable-sm float-sm-right" id="navbarResponsive" style="padding-left: 2rem; border-bottom: solid 2px">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a href="http://www.zsfab.com/products.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="./pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a href="./login">Sign In</a>
                    </li>
                    
                </ul>
            </div>
        </nav>
    </header>
    <!--header end-->

<div class="container">
    <div class="form-wrapper">
        <form class="form-dialog wow fadeInUp" action="" method="post">
            <input type='hidden' name='csrfmiddlewaretoken' value='BHKP6yjo0DZcjhFWzf3IgmbuyQig3h9j' />
                <h2>登录系统</h2>
                <div class="login-wrap">
                    <div class="form-group">
                        <label for="id_username"><i class="fas fa-user"></i>&nbsp;用户名</label>
                        <input class="form-control" id="id_username" maxlength="254" name="username" placeholder="请输入您的用户名" type="text" value="" />
                    </div>
                    <div class="form-group">
                        <label for="id_password1"><i class="fas fa-key"></i>&nbsp;密码</label>
                        <input class="form-control" id="id_password" name="password" placeholder="请输入您的密码" type="password" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-login btn-block" type="submit" id="zs-login">登录</button>
                    </div>
                    <div class="registration">
                        还没有账号吗?
                        <a class="" href="./register">
                        现在就创建一个吧
                    </a>
                  </div>
                </div>
        </form>
    </div>
</div>

<footer class="footer">
    <div class="container" style="max-width:1400px">
        <div class="row" style="border-bottom: 1px solid white">
            <img src="static/img/logo/zs-logo.png" class="hidden-sm-down vertical-center" style="height: 80px;" alt="ZS-Fab" />
        </div>
        <div class="row my-2">
            <div class="col-lg-4 col-sm-6 col-xs-12 address wow fadeInUp" data-wow-duration="2s" data-wow-delay=".1s">
                <h4>CONTACT</h4>
                <address>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-location-arrow pr-10"></i>ZSFab, Inc</li>
                    <li><i class="fa-li fa fa-envelope pr-10"></i> <a href="mailto:info@zs-fab.cn">info@zs-fab.cn</a></li>
                    <li><i class="fa-li fa fa-mobile pr-10"></i> <a href="mailto:info@zs-fab.cn">+86 8888 8888</a></li>
                </ul>
                </address>
            </div>
            
            <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp footer-div" data-wow-duration="2s" data-wow-delay=".5s">
                <h4>COMPANY</h4>
                <p>ZSFab, Inc</p>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp footer-div" data-wow-duration="2s" data-wow-delay=".5s">
                    <h4>LEGAL</h4>
                    <p>
                      <a data-toggle="modal" data-target="#" href="#">
                        Terms and conditions
                      </a>
                      <br>
                      <a data-toggle="modal" data-target="#" href="#">
                        Privacy policy
                      </a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="px-1 mt-3" style="border-top: 1px solid white;margin:auto;">
                    <a href="http://www.zsfab.com/">ZSFab, Inc</a> &copy; 2018 &mdash; All Rights Reserved.
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
    <!--small footer start -->
    <footer class="footer-small">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="social-link-footer list-unstyled my-1">
                        <li class="flipInX"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="flipInX"><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li class="flipInX"><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li class="flipInX"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li>Follow us on: </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>

<script type="text/javascript">
$(document).ready(function() {
    $("#zs-login").on("click",  function() {
        var user_name = $("#id_username").val();
        var password = $("#id_password").val();
        var post_data = {"username":user_name, "password":password};
        $.ajax({
            type:"post",
            url:"/login",
            data:post_data,
            cache:false,
            success:function(data) {
                alert(data);
                // window.location.href = "./";
            },
            error:function(){
                alert("出了点问题");
            },
        });
    })
});
</script>

</html>