<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ZSFab - 编辑器</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    </head>
    <body>
        <form id="upload-form" action="./upload" method="post" enctype="multipart/form-data" >
            　　　<input type="file" id="upload" name="upload" /> <br />
            　　　<input type="submit" value="Upload" />
            </form>
            
            
    </body>
</html>